body {
    color: #eee;
    font-size: 16px;
    line-height: 1.6;
    margin: 40px auto;
    max-width: 1000px;
    padding: 0 10px;
    background-color: #111;
}
h1,
h2,
h3 {
	font-size: 30px;
    line-height: 1.2;
}
p,
h1,
h2,
h3 {
    text-align: center;
}
a {
    color: #68c8d2;
}
iframe {
    margin: 40px auto;
    padding: 0 10px;
	border: 2px solid #666;
	width: 100%;
	height: 500px;
}
select {
	margin: 4px 2px;
	border: 2px solid #666;
	color: #eee;
    font-size: 20px;
    background-color: #333;
}
.button {
	color: #eee;
    font-size: 20px;
    background-color: #333;
    border: 2px solid #666;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
	color: #eee;
}
.center1 {
	margin: auto;
	padding-bottom: 7%;
	padding-top: 3%;
}
.center1 > div {
  width: 6%;
  display: inline-block;
  vertical-align: top;
}
.center2 {
    margin: auto;
    max-width: 470px;
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}
.text-spacing {
    margin: 70px;
}
.tile {
    position: relative;
}
.front {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
}
.tilepaint {
	position: absolute;
	top: 7px;
    left: 10%;
	width: 80%;
}
.attribution {
	padding-top: 20%;
	font-size: 10px;
}
